@model IEnumerable<MarketPlaceProject.ViewModels.CategoryVM>

@{
    ViewBag.Title = "Main Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <button class="signout-button" onclick="window.location.href='@Url.Action("SignOut", "User")'">Sign Out</button>
    @*<img src="~/Content/icons/login.png" alt="Joole Logo" class="login-logo" />
    <h2 >Building Product Selection Platform</h2>*@
<div class="Partial-part">
    <img src="~/Content/icons/login.png" alt="Joole Logo" class="login-logo" />
    <h2>Building Product Selection Platform</h2>
    @Html.Partial("_SearchBar", Model)

</div>
</body>
</html>
