body {
    background: linear-gradient(to bottom, #0b385f, #7f7f7f);
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.modal-dialog {
    background-color: white;
    width: 900px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modal-title {
    margin: 0;
    font-size: 1.25em;
    font-weight: normal;
}

.close {
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background: none;
}

.image-preview-label {
    text-align: left;
    margin-bottom: 10px;
}

.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    overflow: hidden;
    position: relative;
    left: -100px;
}

    .image-preview img {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

    .form-group label {
        width: 30%;
        margin-right: 10px;
        text-align: left;
    }

    .form-group input {
        width: 40%;
        padding: 8px 10px;
        font-size: 1em;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-group .text-danger {
        width: 30%;
        margin-left: 10px;
    }

    .form-group.file-input {
        flex-direction: column;
        align-items: center;
    }

        .form-group.file-input label {
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
            position: relative;
            left: 285px; 
            font-weight: bold;
        }

.modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #0056b3;
    }



.btn-signin {
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    text-decoration: none;
    font-size: 25px;
}

